*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
}

body {
  background-image: url(./images/bg-desktop.svg);
  background-color: hsl(257, 40%, 49%);
  color: white;
  width: 100svw;
  height: 100svh;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.logo {
  width: 15%;
  padding: 20px;
}

.main {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.column-left {
  width: 40%;
}

.column-right {
  width: 30%;
}

.mockup {
  width: 100%;
}

.row {
  margin: 2rem 0;
}

.row h1 {
  font-family: "Outfit", sans-serif;
}

.row p {
  font-family: "Open Sans", sans-serif;
}

.row .btn {
  padding: 0.5rem 2.5rem;
  font-size: 1rem;
  color: hsl(257, 40%, 49%);
  text-align: center;
  font-family: "Outfit", sans-serif;
  border-radius: 2rem;
  box-shadow: 0 2px 10px hsl(0, 0%, 10%);
  border: 2px solid white;
  transition: background-color 300ms, color 300ms;
}

.row .btn:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(300, 69%, 71%);
}

.icons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 10px;
  padding: 0 10px 0 0;
}

.social svg {
  width: 30px;
  height: 30px;
  border: 2px solid hsl(0, 0%, 100%);
  fill: hsl(0, 0%, 100%);
  padding: 5px;
  border-radius: 50%;
}

/* Attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 100%, 86%);
}
